@{
    ViewBag.Title = "Bem  Vindo";
}
@section scripts{

    <script src="~/Scripts/App/IniciarApp.js"></script>
}
<section style="text-align: center">
    <h2>Bem Vindo !</h2>
    <h3>Escolha uma Opcao do Menu</h3>
</section>

